* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat Alternates", sans-serif;
}

header {
  position: fixed;
  margin: 0%;
  padding: 0%;
  width: 100%;
  background-color: white;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

ul {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

.botonnav,
.boton-contacto {
  text-decoration: none;
  border: white;
  border-radius: 40px;
  padding: 12px 20px;
  margin-left: 20px;
}

.botonnav > a,
.boton-contacto > a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 100;
}

.boton-contacto > a {
  color: white;
}

.boton-contacto {
  background-color: #b59ac5;
}

.botonnav :hover {
  color: #b59ac5;
}

.boton-contacto:hover {
  background-color: #625164;
}

main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
}

.presentacion {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
}

.texto {
  width: 50%;
}

.texto > h2 {
  font-size: 2rem;
  margin-bottom: 0%;
  color: #625164;
}

.texto > h1 {
  font-size: 4rem;
  color: #b59ac5;
  margin-top: 1%;
  margin-bottom: 5%;
}

.texto > p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0%;
  color: rgb(83, 81, 81);
}

.presentacion > img {
  width: 25em;
  height: 25em;
}

.hago {
  width: 180px;
  height: 50px;
  background-color: #625164;
  border-radius: 40px;
  padding: 12px 18px;
  border: none;
  margin-top: 30px;
}

.hago:hover {
  background-color: #b59ac5;
}

.hago > a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.conocimientos {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}

.desarrollo {
  width: 70%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.desarrollo > h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.desarrollo > p {
  width: 50%;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}

.contenido {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.lenguajes {
  width: 220px;
  height: 200px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lenguajes > img {
  width: 5em;
  height: 5em;
  margin-bottom: 0;
}

.lenguajes {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: solid 2px rgba(192, 187, 187, 0.432);
}

.lenguajes:hover {
  border: solid 2px #b59ac5;
  border-radius: 10px;
}

.cita {
  width: 100%;
  height: 450px;
  background-color: #b59ac5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #625164;
  margin-top: 150px;
}

.cita > img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.cita > p {
  width: 60%;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
}

.autor {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 40px;
}

.proyectos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.proyecto-texto {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.proyecto-texto > h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 0%;
}

.proyecto-texto > p {
  width: 35%;
  text-align: center;
  margin-top: 0%;
}

.proyecto-imagenes {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.iconos-proyectos {
  width: 300px;
  height: 330px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 2px rgba(128, 128, 128, 0.342);
  border-radius: 10px;
  margin: 10px;
}

.iconos-proyectos:hover {
  border: solid 2px #b59ac5;
  border-radius: 10px;
}

.iconos-proyectos img {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.contacto {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.contacto h2 {
  width: 500px;
  font-size: 3rem;
  font-weight: bold;
  margin-right: 50px;
  margin-bottom: 5%;
}

.contacto p {
  width: 400px;
  color: rgb(73, 68, 68);
  margin-top: 0%;
  margin-bottom: 50px;
}

.redes {
  width: 50%;
  height: 200px;
  margin-top: 30px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.redes li {
  height: 50%;
  display: flex;
  align-items: center;
}

.redes img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  padding: 10px;
} /*como cambiar el color?*/

.redes a {
  text-decoration: none;
  color: rgb(73, 68, 68);
  display: flex;
  align-items: center;
}

.redes a:hover {
  color: #b59ac5;
}

.redes img:hover {
  background-color: #b59ac5;
  border-radius: 50%;
} /*como resolver el hover*/

.form h2 {
  width: 500px;
  font-size: 3rem;
  font-weight: bold;
  margin-right: 50px;
  margin-bottom: 5%;
}

form section {
  display: flex;
  justify-content: space-between;
}

.nombre,
.apellido {
  width: 40%;
  height: 50px;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border: none;
  margin: 5px;
  padding: 10px;
}

form .mail,
.mensaje {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

textarea {
  width: 500px;
  height: 180px;
  margin-top: 20px;
}

input:focus {
  border: solid 2px #b59ac5;
  border-radius: 40px;
}

textarea:focus{
  border: solid 2px #b59ac5;
  border-radius: 20px;
} /*como sacar el borde negro sin eliminar focus*/

input[type="submit"] {
  padding: 15px;
  width: 130px;
  background-color: #625164;
  border-radius: 20px;
  color: white;
  font-size: 1.2rem;
}

input[type="submit"]:hover {
  background-color: #b59ac5;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #625164;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

ul {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0%;
}

ul a {
  text-decoration: none;
  color: #b59ac5;
}

li {
  list-style: none;
  font-size: 1rem;
}

.iconos {
  width: 25%;
  padding: 0%;
  justify-content: space-around;
}

.iconos li {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconos img {
  width: 25px;
  height: 25px;
  padding-top: 3px;
} /*como cambiar el color svg?*/

.iconos li:hover {
  background-color: #b59ac5;
  border: solid 1px white;
}

footer p {
  color: #b59ac5;
  font-size: 1rem;
}

span {
  color: red;
  font-size: 1.2rem;
}

@media screen and (max-width: 1100px) {
  body {
    font-size: 14px;
  }

  header {
    display: none;
  }

  .presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .texto > h1,
  .texto > p {
    text-align: center;
  }

  .presentacion > img {
    margin-top: 40px;
  }

  .contacto {
    width: 100%;
    flex-direction: column;
  }

  .redes {
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .redes a {
    width: 40%;
    height: 30%;
    margin: 0%;
    padding: 0%;
    align-items: center;
  }

  form {
    width: 50%;
  }
}
