* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0%;
  font-family: "Montserrat Alternates", sans-serif;
}

/*//////ESTILOS DEL NAV///////*/
nav {
  position: fixed;
  margin: 0%;
  padding: 0%;
  width: 100%;
  background-color: white;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

nav ul {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
}

.link-nav {
  padding: 12px 20px;
  margin-left: 20px;
}

.link-nav a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.link-contacto-nav > a {
  color: white;
}

.link-contacto-nav {
  background-color: #b59ac5;
  border-radius: 40px;
}

.link-nav :hover {
  color: #b59ac5;
}
.link-nav:active {
  box-shadow: rgba(139, 29, 153, 0.521) 0px 3px 8px;
  border-radius: 40px;
}
.link-contacto-nav:hover {
  background-color: #b59ac5d7;
}

.link-contacto-nav a:hover {
  color: black;
}

.link-contacto-nav :active {
  box-shadow: rgba(233, 132, 233, 0.76) 0px 3px 8px;
}

/*//////ESTILOS DEL MAIN///////*/
main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
}

/*//////ESTILOS DEL SECCIÓN PRESENTACIÓN///////*/
.presentacion {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
}

.texto {
  width: 50%;
}

.texto-presentacion > h2 {
  font-size: 2rem;
  margin-bottom: 0%;
  color: #625164;
}

.texto-presentacion > h1 {
  font-size: 4rem;
  color: #b59ac5;
  margin-top: 1%;
  margin-bottom: 5%;
}

.texto-presentacion > p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0%;
  color: rgb(83, 81, 81);
}

.presentacion > img {
  width: 25em;
  height: 25em;
}

.link-presentacion {
  width: 180px;
  height: 50px;
  background-color: #625164;
  border-radius: 40px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-presentacion > a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}
.link-presentacion:hover {
  background-color: #625164cc;
}

/*//////ESTILOS SECCIÓN CONOCIMIENTOS///////*/
.conocimientos {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}

.desarrollo {
  width: 70%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.desarrollo > h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.desarrollo > p {
  width: 50%;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}

.contenido {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.lenguajes {
  width: 220px;
  height: 200px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lenguajes > img {
  width: 5em;
  height: 5em;
  margin-bottom: 0;
}

.lenguajes {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: solid 2px rgba(192, 187, 187, 0.432);
}

.lenguajes:hover {
  border: solid 2px #b59ac5;
  border-radius: 10px;
}

.cita {
  width: 100%;
  height: 450px;
  background-color: #b59ac5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #625164;
  margin-top: 150px;
}

.fa-quote-right {
  text-align: center;
  font-size: 6rem;
  color: white;
}

/*//////ESTILOS SECCIÓN CITA///////*/
.cita > p {
  width: 60%;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 50px;
}

.autor {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 40px;
}

/*//////ESTILOS SECCIÓN PROYECTOS///////*/
.proyectos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.proyecto-texto {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.proyecto-texto > h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 0%;
}

.proyecto-texto > p {
  width: 35%;
  text-align: center;
  margin-top: 0%;
}

.proyecto-imagenes {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.iconos-proyectos {
  width: 300px;
  height: 330px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 2px rgba(128, 128, 128, 0.342);
  border-radius: 10px;
  margin: 10px;
}

.iconos-proyectos:hover {
  border: solid 2px #b59ac5;
  border-radius: 10px;
}

.iconos-proyectos:active {
  box-shadow: rgba(233, 132, 233, 0.76) 0px 3px 8px;
}

.iconos-proyectos img {
  width: 300px;
  height: 200px;
  padding: 10px;
}
/*//////ESTILOS SECCIÓN CONTACTO///////*/
.contacto {
  width: 70%;
  display: flex;
  margin: 40px;
}

.contacto-texto,
form {
  width: 50%;
}

.contacto h2 {
  width: 500px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5%;
}

.contacto-texto p {
  width: 80%;
  color: rgb(109, 106, 106);
  font-weight: 500;
}

.redes {
  width: 45%;
  height: 200px;
  margin-top: 30px;
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.redes .fab {
  font-size: 1.2rem;
  color: #b59ac5;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}
.redes .fas {
  font-size: 1.2rem;
  color: #b59ac5;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

.redes .fab:hover {
  background-color: #b59ac5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes .fas:hover {
  background-color: #b59ac5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 10px;
}

.redes a:hover {
  color: #b59ac5;
}

.redes a:active {
  width: 270px;
  height: 40px;
  border: solid 2px #b59ac5;
  border-radius: 40px;
  box-shadow: rgba(233, 132, 233, 0.76) 0px 3px 8px;
}

/*//////ESTILOS DEL FORMULARIO///////*/
.form h2 {
  width: 500px;
  font-size: 3rem;
  font-weight: bold;
  margin-right: 50px;
  margin-bottom: 5%;
}

.nombre-y-apellido {
  display: flex;
  justify-content: space-between;
}

.nombre,
.apellido {
  width: 40%;
  height: 50px;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border: none;
  margin: 5px;
  padding: 10px;
}

form .mail,
.mensaje {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

textarea {
  width: 500px;
  height: 180px;
  margin-top: 20px;
}

input:focus {
  border: solid 2px #b59ac5;
  border-radius: 40px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

textarea:focus {
  border: solid 3px#b59ac5;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 20px;
} /*como sacar el borde negro sin eliminar focus*/

input[type="submit"] {
  padding: 15px;
  width: 130px;
  background-color: #625164;
  border-radius: 20px;
  color: white;
  font-size: 1.2rem;
}

input[type="submit"]:hover {
  background-color: #b59ac5;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/*//////ESTILOS SECCIÓN FOOTER///////*/
footer {
  width: 100%;
  height: 300px;
  background-color: #625164;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.footer-secciones {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0%;
}

.link-footer:hover {
  color: white;
  font-size: 1rem;
}

.footer-secciones a {
  text-decoration: none;
  color: #b59ac5;
}

.iconos-footer {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0%;
}

.iconos-footer li {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.iconos-footer i {
  font-size: 1.2rem;
  color: #625164;
}

.iconos-footer li:hover {
  background-color: #b59ac5;
  border: solid 1px white;
}
.iconos-footer li:active {
  box-shadow: rgba(255, 254, 254, 0.849) 0px 5px 15px;
}

footer p {
  color: #b59ac5;
  font-size: 1rem;
}

/*//////ESTILOS RESPONSIVE///////*/

@media screen and (max-width: 1100px) {
  body {
    font-size: 14px;
  }

  nav {
    display: none;
  }

  .presentacion {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .texto-presentacion {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .presentacion > img {
    margin-top: 50px;
  }

  .cita {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .proyecto-imagenes {
    justify-content: center;
  }

  .conocimientos {
    margin-top: 20px;
  }
  .contacto {
    flex-direction: column;
    width: 90%;
    margin-top: 50px;
  }

  .redes {
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
  }

  form h2 {
    margin-left: 10px;
  }

  input[type="submit"] {
    margin-top: 30px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 900px) {
  .texto-presentacion h2 {
    font-size: 2rem;
  }
  .texto-presentacion h1 {
    font-size: 3rem;
    margin-top: 25px;
  }

  .contacto-texto {
    width: 500px;
  }
  .redes {
    height: 200px;
  }

  .nombre-y-apellido {
    height: 130px;
    flex-direction: column;
  }
  .nombre,
  .apellido {
    width: 100%;
  }
}
