body {
  width: 100%;
  margin: 0%;
  font-family: "Montserrat Alternates", sans-serif;
  box-sizing: border-box;
}

/*//////ESTILOS DEL NAV///////*/
.nav-superior {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.link-nav a {
  padding: 8px;
  font-size: 1rem;
  color: black;
}

.link-contacto-nav a {
  background-color: #b59ac5;
  border-radius: 40px;
  padding: 10px 20px;
}

.link-nav :hover {
  color: #806e81;
}

.link-contacto-nav a:hover {
  background-color: #806e81;
}

.link-contacto-nav a:hover {
  color: white;
}

/*//////ESTILOS DEL MAIN///////*/
main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
}

/*//////ESTILOS DEL SECCIÓN PRESENTACIÓN///////*/
.presentacion {
  width: 90%;
  max-width: 1250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
}

.texto {
  width: 50%;
}

.texto-presentacion > h2 {
  font-size: 2rem;
  margin-bottom: 0%;
  color: #806e81;
}

.texto-presentacion > h1 {
  font-size: 4rem;
  color: #625164;
  margin-top: 1%;
  margin-bottom: 5%;
}

.texto-presentacion > p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0%;
  color: rgb(83, 81, 81);
}

.presentacion > img {
  width: 22rem;
  height: 22rem;
}

.link-presentacion a {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b59ac5;
  border-radius: 40px;
  margin-top: 30px;
  font-size: 1rem;
  color: black;
}

.link-presentacion a:hover {
  background-color: #806e81;
  color: white;
}

.link-presentacion a:active {
  box-shadow: rgba(165, 160, 160, 0.76) 0px 8px 8px;
}

/*//////ESTILOS SECCIÓN CONOCIMIENTOS///////*/
.conocimientos {
  width: 90%;
  max-width: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}

.desarrollo {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.desarrollo > h2 {
  font-size: 3rem;
  text-align: center;
}

.desarrollo > p {
  width: 45%;
  font-size: 1rem;
  text-align: center;
}

.contenido-conocimientos {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.lenguajes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 230px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 2px rgba(192, 187, 187, 0.432);
}

.lenguajes p {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.lenguajes:hover {
  border: solid 2px #b59ac5;
  border-radius: 10px;
}

.lenguajes > i {
  font-size: 80px;
  margin-bottom: 0;
}

.fa-html5 {
  color: orangered;
}

.fa-css3-alt {
  color: rgb(90, 90, 241);
}

.fa-sass {
  color: fuchsia;
}

.fa-js {
  color: yellow;
}

.fa-react {
  color: rgb(93, 170, 241);
}

.fa-git-alt {
  color: rgb(241, 90, 35);
}

/*//////ESTILOS SECCIÓN CITA///////*/

.cita {
  width: 100%;
  height: 450px;
  background-color: #b59ac5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.fa-quote-right {
  text-align: center;
  font-size: 6rem;
  color: black;
}
.cita > p {
  width: 60%;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 50px;
}

.autor {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 40px;
}

/*//////ESTILOS SECCIÓN PROYECTOS///////*/
.proyectos {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.proyecto-texto {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.proyecto-texto > h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.8rem;
}

.proyecto-texto > p {
  width: 45%;
  text-align: center;
}

.proyecto-imagenes {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tarjeta-proyectos {
  width: 300px;
  height: 300px;
  color: black;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 2px rgba(128, 128, 128, 0.342);
  border-radius: 10px;
  margin: 10px;
}
.tarjeta-proyectos img {
  width: 90%;
  height: 60%;
  padding: 10px;
}

.tarjeta-proyectos p {
  text-align: center;
}

.tarjeta-proyectos:hover {
  border: solid 2px #b59ac5;
  border-radius: 10px;
}

.tarjeta-proyectos:active {
  box-shadow: #b59ac5 0px 3px 8px;
}

/*//////ESTILOS SECCIÓN CONTACTO///////*/
.contacto {
  max-width: 1250px;
  display: flex;
  margin-top: 150px;
  border: solid 1px rgba(128, 128, 128, 0.301);
  padding: 50px;
  border-radius: 10px;
}

.contacto-texto,
form {
  width: 50%;
}

.contacto h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5%;
}

.contacto-texto p {
  width: 80%;
  color: rgb(109, 106, 106);
  font-weight: 500;
}

.redes {
  margin-top: 30px;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

.contacto-redes i {
  font-size: 1.2em;
  color: #625164;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  padding: 3px;
}

.contacto-redes a {
  color: #625164;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

.contacto-redes :hover {
  color: black;
}

.contacto-redes i:hover {
  background-color: #625164;
  color: white;
}

/*//////ESTILOS DEL FORMULARIO///////*/
form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  width: 500px;
  font-size: 3rem;
  font-weight: bold;
  margin-right: 50px;
  margin-bottom: 5%;
}
label {
  margin-top: 30px;
}

.nombre-y-apellido {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nombre-y-apellido label {
  margin-top: 0%;
  width: 45%;
  height: 50px;
}

input,
textarea {
  width: 100%;
  border: none;
  margin: 5px;
  padding: 10px;
  background-color: #b59ac56e;
  border-radius: 10px;
}

textarea {
  height: 180px;
  margin-top: 20px;
}

input:focus {
  outline: none;
  border: solid 2px #b59ac5;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

textarea:focus {
  outline: none;
  border: solid 2px#b59ac5;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 20px;
}

input[type="submit"] {
  padding: 15px;
  width: 130px;
  background-color: #625164;
  border-radius: 20px;
  color: white;
  font-size: 1.2rem;
}

input[type="submit"]:hover {
  background-color: #b59ac5;
  color: black;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/*//////ESTILOS SECCIÓN FOOTER///////*/
footer {
  width: 100%;
  height: 300px;
  background-color: #625164;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

.nav-inferior {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-inferior :focus {
  outline: none;
  box-shadow: 0px 0px 7px white;
}

.footer-secciones {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0%;
}

.footer-secciones a {
  color: white;
  border-radius: 40px;
  padding: 3px;
}

.iconos-footer {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0%;
}

.iconos-footer i {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  color: #625164;
  background-color: white;
}

.iconos-footer i:hover {
  background-color: #625164;
  border: solid 1px white;
  color: white;
}

.iconos-footer i:active {
  box-shadow: 0px 0px 7px #b59ac5;
}

footer p {
  color: white;
  font-size: 1rem;
}

/*//////ESTILOS GENERALES///////*/

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
  border: solid 1px#b59ac5;
  box-shadow: 0px 0px 7px #b59ac5;
  border-radius: 20px;
}

/*//////ESTILOS RESPONSIVE///////*/

@media screen and (max-width: 1300px) {
  .proyecto-imagenes {
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .nav-superior {
    display: none;
  }

  .presentacion {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .texto-presentacion {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .presentacion > img {
    margin-top: 50px;
  }

  .contenido-conocimientos {
    width: 90%;
  }

  .proyecto-imagenes {
    width: 100%;
  }

  .contacto {
    flex-direction: column;
    margin-top: 50px;
  }

  .contacto-texto,
  form {
    width: 100%;
  }

  .redes {
    height: 100px;
    flex-wrap: wrap;
  }

  .footer-secciones {
    width: 50%;
  }

  .iconos-footer {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }

  .texto-presentacion h2 {
    font-size: 2rem;
  }
  .texto-presentacion h1 {
    font-size: 3rem;
    margin-top: 25px;
  }
  .proyecto-imagenes {
    width: 80%;
  }

  .nombre-y-apellido {
    height: 130px;
    flex-direction: column;
  }

  .nombre-y-apellido label {
    width: 100%;
  }

  .footer-secciones {
    width: 70%;
  }

  .iconos-footer {
    width: 50%;
  }

  .iconos-footer i {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 810px) {
  .proyecto-imagenes {
    width: 100%;
  }

  .tarjeta-proyectos {
    width: 280px;
    height: 280px;
  }
}

@media screen and (max-width: 600px) {
  .proyecto-imagenes {
    justify-content: center;
  }
  .footer-secciones {
    display: none;
  }
  .iconos-footer {
    width: 65%;
  }

  .redes {
    height: auto;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 550px) {
  .contenido-conocimientos {
    width: 100%;
  }

  .lenguajes {
    width: 180px;
    height: 180px;
  }

  .derarrollo p {
    width: 80%;
  }
}
